.todo_form {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 2px;
  padding: 10px 10px 6px 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.todo_input {
  font-size: 15px;
  padding: 1rem 0;
  margin-left: 5px;
  margin-bottom: 10px;
  max-height: 25px;
  width: 85%;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

*:focus {
  outline: none !important;
}

.todo_input:hover,
.todo_input:active {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.btn_input,
.btn_item {
  border: none;
  border-radius: 2px;
  background-color: white;

  font-weight: 500;
}

.btn_input:hover,
.btn_item:hover {
  background-color: rgba(182, 177, 177, 0.12);
}

.todo_list {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  margin-top: 5px;
  margin-left: 0;
  padding-left: 0;
}

.todo_item {
  padding: 10px 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.todo_item > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.item_check {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.item_text {
  font-weight: 500;
}

hr {
  margin: 0 auto;
}

.todo_list > hr:last-child {
  display: none;
}

.check {
  text-decoration: line-through;
}

.invisible {
  visibility: hidden;
}
